---
import MainLayout from "../../../layouts/MainLayout.astro";
import ConditionPost from "../../../components/ConditionPost.astro";
---
<MainLayout
  title="What is Post-Viral Fatigue Syndrome? – Survive and Thrive"
  description="Post-Viral Fatigue Syndrome is the general term used to describe a condition where a person is still experiencing symptoms from an illness or infection, months or years after the illness has been treated."
>
  <section class="container-pad">
    <div class="content-max">
      <h1>About The Conditions</h1>
      <ConditionPost slug="what-is-post-viral-fatigue-syndrome" title="What is Post-Viral Fatigue Syndrome?">
        <p>Post-Viral Fatigue Syndrome is the general term used to describe a condition where a person is still experiencing symptoms from an illness or infection, months or years after the illness has been treated.</p>

        <p>The person may continue to experience symptoms from their initial illness, along with symptoms such as:</p>
        <ul>
          <li>concentration or memory problems</li>
          <li>sore throat</li>
          <li>headache</li>
          <li>swollen lymph nodes</li>
          <li>unexplained muscle or joint pain</li>
          <li>extreme fatigue/exhaustion</li>
        </ul>

        <p>Some conditions that have been known to cause Post-Viral Fatigue Syndrome are:</p>
        <ul>
          <li>Epstein-Barr virus</li>
          <li>Human herpes virus 6</li>
          <li>human immunodeficiency virus</li>
          <li>enterovirus</li>
          <li>rubella</li>
          <li>West Nile virus</li>
          <li>Ross River virus</li>
        </ul>
      </ConditionPost>
    </div>
  </section>
</MainLayout>
