---
import MainLayout from "../../../layouts/MainLayout.astro";
import ConditionPost from "../../../components/ConditionPost.astro";
---
<MainLayout
  title="What is Fibromyalgia? – Survive and Thrive"
  description="Fibromyalgia is a chronic condition characterized by widespread pain and tenderness in the muscles, joints, and other soft tissues."
>
  <section class="container-pad">
    <div class="content-max">
      <h1>About The Conditions</h1>
      <ConditionPost slug="what-is-fibromyalgia" title="What is Fibromyalgia?">
        <p>Fibromyalgia is a chronic condition characterized by widespread pain and tenderness in the muscles, joints, and other soft tissues. The cause of fibromyalgia is not well understood, it is thought to be related to a combination of genetic and environmental factors. Some researchers believe that fibromyalgia may be caused by an imbalance in the levels of certain chemicals in the brain or by changes in the way that the brain processes pain signals.</p>

        <p>The symptoms of fibromyalgia can vary from mild to severe. Each person with fibromyalgia will have their own unique set of symptoms.</p>

        <p>The most common symptoms are:</p>
        <ul>
          <li>increased sensitivity to pain due to a decreased pain threshold</li>
          <li>increased responsiveness to sensory stimuli such as heat, cold, light, smell</li>
          <li>extreme fatigue (tiredness)</li>
          <li>problems with memory and concentration (fibro fog)</li>
          <li>problems with sleep</li>
        </ul>

        <p>Less common symptoms may include:</p>
        <ul>
          <li>irritable bowel syndrome</li>
          <li>irritable or overactive bladder</li>
          <li>headaches</li>
          <li>numbness or tingling in the arms and legs</li>
          <li>anxiety and depression</li>
        </ul>

        <p>The symptoms of fibromyalgia can vary from day to day. Symptoms may disappear for extended periods of time, perhaps even years. It is also common for people to experience ‘flares’ in their symptoms, where they experience new or more intense symptoms for a period of time. It is not always known what causes a flare, but some causes can be:</p>
        <ul>
          <li>weather changes</li>
          <li>overexertion</li>
          <li>mental stress</li>
          <li>illness or injury</li>
          <li>travelling</li>
          <li>hormonal changes</li>
          <li>changes in treatment</li>
        </ul>
      </ConditionPost>
    </div>
  </section>
</MainLayout>
