---
import MainLayout from "../../../layouts/MainLayout.astro";
import ConditionPost from "../../../components/ConditionPost.astro";
---
<MainLayout
  title="What is Long Covid? – Survive and Thrive"
  description="Long Covid is a general term used to describe a person who is continuing to experience Covid-19 symptoms for more than 4 weeks past the initial infection."
>
  <section class="container-pad">
    <div class="content-max">
      <h1>About The Conditions</h1>
      <ConditionPost slug="what-is-long-covid" title="What is Long Covid?">
        <p>Long covid is a general term used to describe a person who is continuing to experience Covid-19 symptoms for more than 4 weeks past the initial infection.</p>

        <p>If a person continues to experience symptoms for more than 3 months past the initial infection, the condition generally becomes known as Post Covid-19 condition or Post-Covid Syndrome. These terms are used by the World Health Organization and the NHS. People collectively have reported over 200 symptoms that are associated with Post-Covid Syndrome and it is common for these to change and fluctuate over time.</p>

        <p>The most commonly reported symptoms include:</p>
        <ul>
          <li>Respiratory and cardiovascular symptoms</li>
          <li>Fatigue</li>
          <li>Widespread Pain</li>
          <li>Fever</li>
          <li>Neurological problems (ie brain fog, dizziness headaches, pins and needles)</li>
          <li>Stomach problems</li>
          <li>Mental health symptoms</li>
          <li>Ear, nose and throat problems</li>
        </ul>
      </ConditionPost>
    </div>
  </section>
</MainLayout>
