---
import MainLayout from "../../../layouts/MainLayout.astro";
import ConditionPost from "../../../components/ConditionPost.astro";
---
<MainLayout
  title="What is M.E./CFS? – Survive and Thrive"
  description="Myalgic Encephalomyelitis (M.E.), also known as chronic fatigue syndrome (CFS), is a chronic, complex, and debilitating disorder characterized by multiple symptoms affecting various bodily systems."
>
  <section class="container-pad">
    <div class="content-max">
      <h1>About The Conditions</h1>
      <ConditionPost slug="what-is-me" title="What is M.E./CFS?">
        <p>Myalgic Encephalomyelitis (M.E), also known as chronic fatigue syndrome (CFS), is a chronic, complex, and debilitating disorder characterized by a range of symptoms, including severe fatigue, muscle pain, and cognitive impairment.</p>

        <p>The cause of ME is not well understood, but it is often thought to be caused by genetics, infection or trauma. M.E can affect many of the bodies systems including the nervous system, immune system endocrine system and metabolism.</p>

        <p>People who suffer with M.E can experience symptoms such as:</p>
        <ul>
          <li>Muscle or joint pain</li>
          <li>Extreme fatigue</li>
          <li>Headaches/migraines</li>
          <li>A sore throat</li>
          <li>Flu like symptoms</li>
          <li>Feeling dizzy or sick</li>
          <li>Fast or irregular heartbeats</li>
          <li>Post-Exertional Malaise</li>
          <li>Brain fog</li>
          <li>Stomach problems</li>
          <li>Unrefreshing sleep</li>
        </ul>

        <p>This is just a few of the common symptoms of the illness, each individual will likely experience many symptoms not listed above. People may also experience co-occurring disorders such as IBS, intolerances and fibromyalgia.</p>

        <p>No two people will have the same experience of M.E, but the illness is often categorised in the following ways:</p>
        <ul>
          <li><strong>mild:</strong> 50% reduction in pre-illness activity</li>
          <li><strong>moderate:</strong> mostly housebound</li>
          <li><strong>severe:</strong> mostly bedridden</li>
          <li><strong>very severe:</strong> totally bedridden and need help with basic activities including nutrition and hydration.</li>
        </ul>

        <p>Although some people will make a full recovery from this illness, this is not often the case. People can fluctuate throughout the categories during their experience with the illness, or can remain permanently within one state.</p>
      </ConditionPost>
    </div>
  </section>
</MainLayout>
